
  .debug [class*="col-"]{
    background-color: rgb(240, 51, 51);
    border: 1px solid black;
    height: 100px;
  }
  
}

.wrapper{
  margin-top: 50px;
  margin-bottom: 140px;
}
.wrapper-80{
  width: 80%;
  margin: 0 auto;
}

.box{
  width: 80%;
  min-height: 200px;
  height: 100%;
  margin: 0 auto;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}